@import url('assets/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Header */

#header {
  font-family: Quicksand;
  font-weight: bold;
  text-align: center;
}

/* Footer */

#footer {
  font-family: Quicksand;
  padding: 2em 3.5em 2em 1em;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#footer ul.icons li {
  display: inline-block;
}

#footer  ul.copyright li {
  color: #aaaaaa;
  list-style-type: none;
  padding: 1em 0.3em 1em 0.3em;
  font-size: 0.9em;
  font-weight: bold;
}

#footer  ul.copyright li a {
  text-decoration: none;
  color: #f96e5b;
}

#footer  ul.copyright li a:hover {
  color: #172232;
}

/* Icons */

.icon {
  text-decoration: none;
  border-top: none;
  position: relative;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: #172232;
  font-family: FontAwesome;
  font-size: 1.5em;
}

.icon:hover {
  color: #f96e5b;
}

.icon > .label {
  display: none;
}
